<!DOCTYPE html>
<html>
  <head>
    <title>CheckIN</title>
    <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
    <link rel='stylesheet' href='/stylesheets/mystyle.css' />
     <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
  </head>
  <body id='auth'>
    <div class='brand'>
    	<h1>CheckIN</h1>
    </div>
    <form class='auth' action = '/auth' method='post'>
    	<div class='auth-fields'>
    		<label for='mail'>Email</label>
    		<input autofocus name='email' id='mail' type="email">
    	</div>
    	<div class='auth-fields'>
    		<label for='pass'>Password</label>
    		<input name='password' id='pass' type="password">
    	</div>
    	<div class='auth-button'>
    		<input type="submit" value="Login">
    	</div>
    </form>
      <form action="/register/" method="get">
          <div class='reg-button'>
            <input type="submit" value="Register">
          </div>
      </form>

  </body>
</html>