  <!DOCTYPE html>
  <html>
  <head>
    <title>CheckIN</title>
    <link rel='stylesheet' href='/stylesheets/mystyle.css' />
  </head>
    <body id="main">
     <header>
      <h1><%= user%></h1>
    </header>    
        <div class="container">    	
            <div class="block">
                <div class='layout'></div>
                <img src='../images/nout.jpeg'>
                <div class='footer'>  
                  <h3>Add notice</h3>
                </div>
            </div>
            <a href="/main/check"><div id='check' class="block">
                <div class='layout'></div>
                <img src='../images/checklist.jpeg'>
                <div class='footer'>
                  <h3>Check</h3>
                </div>
            </div></a>
            <div class="block">
                <div class='layout'></div>
                <img src='../images/viewcode.jpeg'>
                <div class='footer'>
                  <h3>View code</h3>
                </div>
            </div>
        </div>
    </body>
    <script type="text/javascript" src='/javascripts/jquery-3.1.0.min.js'></script>
    <script type="text/javascript" src='/javascripts/script.js'></script>
  </html>
