@font-face {
    font-family: Roboto; 
    src: url(../fonts/roboto/Roboto-Regular.woff2); 
   }
input[placeholder]          {text-overflow:ellipsis; color:#a69b97}
input::-moz-placeholder     {text-overflow:ellipsis; color:#a69b97}
input:-moz-placeholder      {text-overflow:ellipsis; color:#a69b97}
input:-ms-input-placeholder {text-overflow:ellipsis; color:#a69b97}

input:focus::-webkit-input-placeholder {color: transparent; transition:.1s; transition-timing-function: ease;}
input:focus::-moz-placeholder          {color: transparent; transition:.1s; transition-timing-function: ease;}
input:focus:-moz-placeholder           {color: transparent; transition:.1s; transition-timing-function: ease;}
input:focus:-ms-input-placeholder      {color: transparent; transition:.1s; transition-timing-function: ease;}


body{
	margin:0;
	padding: 0;
	font-family: Roboto;
	
}
h1{
	font-stretch: ultra-condensed;
	font-weight: 100;
	letter-spacing: 2px;
}
.brand{
	margin-left: calc(100% - 450px);
}
.brand h1{
	font-size: 35px;
	color: #555;
	font-weight: 300;
	font-stretch: ultra-expanded;
}
form{
	padding:  50px;
}
#auth{
	background: url(../images/login.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
    background-color: #464646;
    min-width: 100%;
}
.auth{
	filter: blur(1spx);
	color:#fff;
	width: 300px;
	height: 50%;
	margin: 0 0 0 calc(100% - 450px);
	background: /*rgba(255, 152, 0, 0.9);*/rgba(0,0,0,0.3);
	box-shadow: 0px 10px 10px  rgba(0,0,0,0.8);
}
.auth-fields{
	padding: 20px 20px;
	width: calc(100% - 50px);
}
.auth-fields>label{
	color: inherit;
	/*font-size: 20px;*/
	font-size: 18px;
	font-stretch: ultra-condensed;
	font-weight: 100;
}
.auth-fields>input{
	outline-color: transparent;
	border:none;
	background: inherit;/*#ff9800;*/
	border-bottom: 1px solid #555;
	font-weight: 100;
	color:inherit;
	font-size: 20px;
	margin-top: 10px;
	/*padding: 10px;*/
	width: 100%;
}

.auth-fields>input:hover{
	/*outline-color:#555;*/
	
}
.auth-fields>input:focus{
	/*outline-color:#555;*/
	font-size: 20px;
	/*border-bottom:  2px solid #555;	*/
}
.auth-button{	
	padding: 30px 0 0 calc((100% - 200px)/2);

}

.auth-button>input{
	outline: none;
	cursor: pointer;
	font-stretch: ultra-expanded;
	/*font-weight: 700;*/
	font-weight: 300;
	font-size: 20px;
	letter-spacing: 2px;
	padding:25px 20px 25px 20px;
	width: 200px;
	border: solid 1px #555;
	background: rgba(0,0,0,0);
	color: #555;
}

.auth-button>input:hover{
	outline: none;
	background: #9e9e9e;
	border: solid 1px #fff;
	color:#fff;
	transition: 1s;
	/*transition-timing-function: ease;*/
}

#main{
	background: url(../images/plant.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
    background-color: #f57c00;
    min-width: 100%;
}
/**#checklist>header>h1,#main>header>h1{
	font-size: 30px;
	margin:0;
	padding: 10px;
	color:white;
	letter-spacing: 1px;
}
#checklist>header,#main>header{
	box-shadow:  0 5px 5px  rgba(0,0,0,0.70);
	width: 100%;
	height:64px;
	background:   #e65100;
}**/
header h1{
	font-size: 30px;
	margin:0;
	padding: 10px;
	color:white;
	letter-spacing: 1px;
}
header{
	box-shadow:  0 5px 5px  rgba(0,0,0,0.70);
	width: 100%;
	height:64px;
	background:   #e65100;
}
.header-title{
	width:80%;
	height: inherit;
	float:left;
}
.header-button{
	width: 20%;
	min-width: 140px;
	height: inherit;
	float:left;
}
.header-button  a{
	float:left;
	min-width: 140px;
	height: 44px;
	cursor: pointer;
	color: #fff;
	font-size: 18px;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
	text-align: center;
}
.header-button  a:hover{
	outline:#e0e0e0;
	background: #c30000;
	transition: 1s;
	transition-timing-function: ease;
}

.header-button form{
	padding:0;
	height: 64px;
	background: inherit;
}
/*rgba(38, 50, 56, 0.9);*/
.header-button form input{
	cursor: pointer;
	background: inherit;
	padding: 0 50px;
	height: 64px;
	color: #fff;
	font-size: 18px;
	border: none;
	outline: none;
}
.header-button form input:hover{
	outline:#e0e0e0;
	background: #c30000;
	transition: 1s;
	transition-timing-function: ease;
}
.container{
	position: relative;
	width:80%;
	margin: 2.5% 10% 0 10%;
}
.block{
	cursor: pointer;
	position: relative;
	width:30%;
	padding-top: 30%;
	float:left; 
	margin: calc(10%/6);
	overflow: hidden;
	box-shadow: 0px 10px 10px  rgba(0,0,0,0.8);	
}
.block img{
	top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    /*max-width: 100%;*/
    display: block;
    margin: auto;
    position: absolute;
}
.block .layout{
	 position: absolute;
	 top:0;
	 left:0;
	 width:100%;
	 height:100%;
	 z-index: 10;
	 background: rgba(0,0,0,0.3);
}
.block:hover .layout{
	background: rgba(0,0,0,0);
	transition: 1s;
	transition-timing-function: ease;
}
.block:hover{
	/*box-shadow:  1px 12px 12px  rgba(0,0,0,0.6);	
	transition: 1s;*/
	/*transition-timing-function: ease-in-out;*/
}
.block .footer{
	position: absolute;
	bottom: 0;
	left:0;
	width:100%;
	z-index: 10;
	background: #c97b63;
	color:#e0e0e0;
}
.block:hover .footer{
	background: #e65100;
	color:#fff;
	transition: 1s;
	transition-timing-function: ease;
}
.block .footer h3{
	padding: 5px 10px;
}
.block .block-header {
	position:  absolute;
	top:0;
	left:0;
	width:100%;
	z-index: 10;
	margin-bottom: 30px;
	background: #e65100;
	color:#fff;
	padding-left: 10px;
}
.block .block-header h2{
	font-weight: 100;
}
.container form select{
	/*padding: 10px 90px;*/
	/*border: none;*/
	width:calc(35% - 30px);
	height: 50px;
	text-align:  center;
	/*required: true;*/
	margin: 15px;
	outline: none;
}

.container form #submit{
	/*padding: 10px 45px;*/
	width: calc(20% - 30px);
	font-size: 18px;
	sletter-spacing: 2px;
	height: 50px;
	background: #e65100;
	color: #fff;
	margin: 15px;
	font-family: Roboto;
	border: none;
	outline: none;
}
.container form #submit:hover{
	outline:#e0e0e0;
	background: #c30000;
	transition: 1s;
	transition-timing-function: ease;
}
#misses .block{
	display: block;
	padding: 10px;
	float: none;
}

#confirm{
	sletter-spacing: 2px;
	padding: 10px 20px;
	background: #e65100;
	color: #fff;
	font-size: 14px;
	margin: 15px;
	font-family: Roboto;
	border: none;
	outline: none;
}
.container form #submit:hover{
	outline:#e0e0e0;
	background: #c30000;
	transition: 1s;
	transition-timing-function: ease;
}
#admin .block{
	padding:10px;
	width: 90%;
	margin: 20px 5%;
}

.changeInfo form{
	padding: 0 50px;
	margin: 100px;
}

.input-field input{
	width: 90%;
	padding: 10px;
	margin: 20px 5%;
	border:none;
	border-bottom: 1px solid #c30000;
	font-size: 18px;
}

.input-field input:focus{
	outline:none;
	border-bottom: 2px solid #c30000;
	transition: 1s;
	transition-timing-function: ease;
}
.sub{
	padding-left: 25px;
}
#admin .sub input{
	width: auto;
	padding: 14px 30px;
	border-radius: 2px;
	background: #c30000;
	float: left;
	border:none;
	outline:none;
	color:#fff;
	font-weight: 300;
	font-size: 16px;
	letter-spacing: .1px;
	text-transform: uppercase;
}
